.active {
  color: hsl(0, 100%, 71%) !important;
}

.link {
  font-size: 18px !important;
  color: black;

  &:hover {
    color: hsl(0, 100%, 81%) !important;
  }
}

.cart {
  width: max-content;
  position: relative;
}

.cart_number {
  position: absolute;
  bottom: 6px;
  right: -5px;
  color: hsl(0, 0%, 100%) !important;
  font-size: 12px !important;
  font-weight: light !important;
}
